#about{
    height: 530px;
    background-image: url(../images-1/about/about_us.png);
    background-repeat: no-repeat;
    background-size: 900px 500px;
    background-position: right;
    background-color: #F2F2F2;
}
.about-1{
    width: 650px;
    padding-left: 100px;
}
.about-1>p{
    color:  black;
    text-align: justify;
}
.about-1>h2{
    color:  black;
    font-size: 60px;
    font-weight: bold;
}
.about-1>h2>span {
    color: #678E19 !important;
    font-style: italic;
}
.dvReadMoreButton button{
    padding: 10px 15px;
    background-color: #29af71;
    border: none;
    border-radius: 10px;
   color: #fefefe;
}
.dvReadMoreButton{
    display: flex;
    justify-content: center;
}